.elementor-7055 .elementor-element.elementor-element-ec54eda {
    --display: flex;
    --gap: 0 0;
    --background-transition: 0.3s;
    --padding-top: var(--huge-space);
    --padding-bottom: var(--huge-space);
    --padding-left: var(--global-padding-content);
    --padding-right: var(--global-padding-content);
}

.elementor-7055 .elementor-element.elementor-element-da0c634 {
    --display: flex;
    --justify-content: center;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7055 .elementor-element.elementor-element-d98e93c>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-7055 .elementor-element.elementor-element-c363e43 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-top: var(--medium-space);
    --margin-bottom: 0;
    --margin-left: 0;
    --margin-right: 0;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7055 .elementor-element.elementor-element-1977d8e {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7055 .elementor-element.elementor-element-1b27bf9 {
    font-family: var(--e-global-typography-1f5d8b0-font-family), Sans-serif;
    font-size: var(--e-global-typography-1f5d8b0-font-size);
    line-height: var(--e-global-typography-1f5d8b0-line-height);
    letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
    word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
}

.elementor-7055 .elementor-element.elementor-element-d5d1b79 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7055 .elementor-element.elementor-element-eb0eb6e .elementor-blockquote {
    border-color: var(--e-global-color-primary);
}

body:not(.rtl) .elementor-7055 .elementor-element.elementor-element-eb0eb6e .elementor-blockquote {
    border-left-width: 5px;
}

body.rtl .elementor-7055 .elementor-element.elementor-element-eb0eb6e .elementor-blockquote {
    border-right-width: 5px;
}

.elementor-7055 .elementor-element.elementor-element-77b8834 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: var(--huge-space);
    --padding-bottom: var(--huge-space);
    --padding-left: var(--global-padding-content);
    --padding-right: var(--global-padding-content);
}

.elementor-7055 .elementor-element.elementor-element-77b8834:not(.elementor-motion-effects-element-type-background),
.elementor-7055 .elementor-element.elementor-element-77b8834>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-secondary);
}

.elementor-7055 .elementor-element.elementor-element-77b8834,
.elementor-7055 .elementor-element.elementor-element-77b8834::before {
    --border-transition: 0.3s;
}

.elementor-7055 .elementor-element.elementor-element-c2c10d4 .elementor-heading-title {
    color: var(--e-global-color-text);
}

.elementor-7055 .elementor-element.elementor-element-c2c10d4>.elementor-widget-container {
    margin: 0 0 0 0;
    padding: 0px 0px 0px 0px;
}

.elementor-7055 .elementor-element.elementor-element-7bede9d>.elementor-widget-container {
    margin: var(--big-space) 0 0 0;
}

.elementor-7055 .elementor-element.elementor-element-88842f6 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-top: var(--huge-space);
    --padding-bottom: var(--huge-space);
    --padding-left: var(--global-padding-content);
    --padding-right: var(--global-padding-content);
}

.elementor-7055 .elementor-element.elementor-element-372d293>.elementor-widget-container {
    margin: 0 0 0 0;
}

.elementor-7055 .elementor-element.elementor-element-6f138c9 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-top: var(--medium-space);
    --margin-bottom: 0;
    --margin-left: 0;
    --margin-right: 0;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7055 .elementor-element.elementor-element-94b7bf5 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 3px 3px 3px 3px;
    --border-top-width: 3px;
    --border-right-width: 3px;
    --border-bottom-width: 3px;
    --border-left-width: 3px;
    border-color: var(--e-global-color-secondary);
    --border-color: var(--e-global-color-secondary);
    --border-radius: 10px 10px 10px 10px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-7055 .elementor-element.elementor-element-94b7bf5,
.elementor-7055 .elementor-element.elementor-element-94b7bf5::before {
    --border-transition: 0.3s;
}

.elementor-7055 .elementor-element.elementor-element-15cf04c {
    text-align: center;
}

.elementor-7055 .elementor-element.elementor-element-15cf04c .elementor-heading-title {
    font-family: var(--e-global-typography-c62b8b6-font-family), Sans-serif;
    font-size: var(--e-global-typography-c62b8b6-font-size);
    font-weight: var(--e-global-typography-c62b8b6-font-weight);
    line-height: var(--e-global-typography-c62b8b6-line-height);
    letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
    word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
}

.elementor-7055 .elementor-element.elementor-element-15cf04c>.elementor-widget-container {
    padding: 7px 0px 0px 0px;
}

.elementor-7055 .elementor-element.elementor-element-d919260 {
    font-family: var(--e-global-typography-1f5d8b0-font-family), Sans-serif;
    font-size: var(--e-global-typography-1f5d8b0-font-size);
    line-height: var(--e-global-typography-1f5d8b0-line-height);
    letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
    word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
}

.elementor-7055 .elementor-element.elementor-element-86f9ce1 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 3px 3px 3px 3px;
    --border-top-width: 3px;
    --border-right-width: 3px;
    --border-bottom-width: 3px;
    --border-left-width: 3px;
    border-color: var(--e-global-color-secondary);
    --border-color: var(--e-global-color-secondary);
    --border-radius: 10px 10px 10px 10px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-7055 .elementor-element.elementor-element-86f9ce1,
.elementor-7055 .elementor-element.elementor-element-86f9ce1::before {
    --border-transition: 0.3s;
}

.elementor-7055 .elementor-element.elementor-element-1ee4694 {
    --iteration-count: infinite;
    --animation-duration: 1200ms;
    --dynamic-text-color: var(--e-global-color-text);
}

.elementor-7055 .elementor-element.elementor-element-1ee4694 .elementor-headline {
    text-align: center;
    font-family: var(--e-global-typography-c62b8b6-font-family), Sans-serif;
    font-size: var(--e-global-typography-c62b8b6-font-size);
    font-weight: var(--e-global-typography-c62b8b6-font-weight);
    line-height: var(--e-global-typography-c62b8b6-line-height);
    letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
    word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
}

.elementor-7055 .elementor-element.elementor-element-1ee4694 .elementor-headline-dynamic-text {
    font-family: var(--e-global-typography-c62b8b6-font-family), Sans-serif;
    font-weight: var(--e-global-typography-c62b8b6-font-weight);
    line-height: var(--e-global-typography-c62b8b6-line-height);
    letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
    word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
}

.elementor-7055 .elementor-element.elementor-element-1ee4694>.elementor-widget-container {
    padding: 0px 0px 9px 0px;
}

.elementor-7055 .elementor-element.elementor-element-3f77b1d {
    font-family: var(--e-global-typography-1f5d8b0-font-family), Sans-serif;
    font-size: var(--e-global-typography-1f5d8b0-font-size);
    line-height: var(--e-global-typography-1f5d8b0-line-height);
    letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
    word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
}

.elementor-7055 .elementor-element.elementor-element-2d04d45 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 3px 3px 3px 3px;
    --border-top-width: 3px;
    --border-right-width: 3px;
    --border-bottom-width: 3px;
    --border-left-width: 3px;
    border-color: var(--e-global-color-secondary);
    --border-color: var(--e-global-color-secondary);
    --border-radius: 10px 10px 10px 10px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: 20px;
    --padding-right: 20px;
}

.elementor-7055 .elementor-element.elementor-element-2d04d45,
.elementor-7055 .elementor-element.elementor-element-2d04d45::before {
    --border-transition: 0.3s;
}

.elementor-7055 .elementor-element.elementor-element-4d44293 {
    text-align: center;
}

.elementor-7055 .elementor-element.elementor-element-4d44293 .elementor-heading-title {
    font-family: var(--e-global-typography-c62b8b6-font-family), Sans-serif;
    font-size: var(--e-global-typography-c62b8b6-font-size);
    font-weight: var(--e-global-typography-c62b8b6-font-weight);
    line-height: var(--e-global-typography-c62b8b6-line-height);
    letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
    word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
}

.elementor-7055 .elementor-element.elementor-element-4d44293>.elementor-widget-container {
    padding: 07px 0px 0px 0px;
}

.elementor-7055 .elementor-element.elementor-element-979b0ef {
    font-family: var(--e-global-typography-1f5d8b0-font-family), Sans-serif;
    font-size: var(--e-global-typography-1f5d8b0-font-size);
    line-height: var(--e-global-typography-1f5d8b0-line-height);
    letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
    word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
}

.elementor-7055 .elementor-element.elementor-element-417884a>.elementor-widget-container {
    margin: var(--huge-space) 0 0 0;
}

.elementor-7055 .elementor-element.elementor-element-06815b0>.elementor-widget-container {
    margin: var(--medium-space) 0 0 0;
}

.elementor-7055 .elementor-element.elementor-element-de7fd3f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --border-radius: 20px 20px 20px 20px;
    --margin-top: var(--huge-space);
    --margin-bottom: 0;
    --margin-left: 0;
    --margin-right: 0;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 50px;
    --padding-right: 50px;
}

.elementor-7055 .elementor-element.elementor-element-de7fd3f:not(.elementor-motion-effects-element-type-background),
.elementor-7055 .elementor-element.elementor-element-de7fd3f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
    background-image: url("../../2023/12/news-shape.png");
    background-position: top right;
    background-repeat: no-repeat;
}

.elementor-7055 .elementor-element.elementor-element-de7fd3f,
.elementor-7055 .elementor-element.elementor-element-de7fd3f::before {
    --border-transition: 0.3s;
}

.elementor-7055 .elementor-element.elementor-element-4e5edfb {
    --display: flex;
    --justify-content: center;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7055 .elementor-element.elementor-element-e8efb2b .elementor-heading-title {
    color: var(--e-global-color-7c7f961);
}

.elementor-7055 .elementor-element.elementor-element-286dc87 .elementor-heading-title {
    color: var(--e-global-color-7c7f961);
    font-family: var(--e-global-typography-1f5d8b0-font-family), Sans-serif;
    font-size: var(--e-global-typography-1f5d8b0-font-size);
    line-height: var(--e-global-typography-1f5d8b0-line-height);
    letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
    word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
}

.elementor-7055 .elementor-element.elementor-element-286dc87>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-7055 .elementor-element.elementor-element-a530c6c a.button-wrapper {
    background-color: var(--e-global-color-accent);
    color: var(--e-global-color-text);
}

.elementor-7055 .elementor-element.elementor-element-a530c6c a.button-wrapper::after,
.elementor-7055 .elementor-element.elementor-element-a530c6c a.button-wrapper::before {
    background: var(--e-global-color-secondary);
}

.elementor-7055 .elementor-element.elementor-element-a530c6c a.button-wrapper:hover {
    color: var(--e-global-color-text);
}

.elementor-7055 .elementor-element.elementor-element-a530c6c>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-7055 .elementor-element.elementor-element-40eae79 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7055 .elementor-element.elementor-element-1beb97f {
    text-align: center;
}

.elementor-7055 .elementor-element.elementor-element-1beb97f img {
    width: 100%;
    height: 364px;
    object-fit: contain;
}

.elementor-7055 .elementor-element.elementor-element-063fb12>.elementor-widget-container {
    margin: var(--huge-space) 0 0 0;
}

.elementor-7055 .elementor-element.elementor-element-bc867bc {
    --grid-columns: 3;
}

.elementor-7055 .elementor-element.elementor-element-bc867bc .elementor-loop-container {
    grid-auto-rows: 1fr;
}

.elementor-7055 .elementor-element.elementor-element-bc867bc .e-loop-item>.elementor-section,
.elementor-7055 .elementor-element.elementor-element-bc867bc .e-loop-item>.elementor-section>.elementor-container,
.elementor-7055 .elementor-element.elementor-element-bc867bc .e-loop-item>.e-con,
.elementor-7055 .elementor-element.elementor-element-bc867bc .e-loop-item .elementor-section-wrap>.e-con {
    height: 100%;
}

.elementor-7055 .elementor-element.elementor-element-bc867bc>.elementor-widget-container {
    margin: var(--medium-space) 0 0 0;
}

.elementor-7055 .elementor-element.elementor-element-21ce6ed>.elementor-widget-container {
    margin: var(--huge-space) 0 0 0;
}

@media(max-width:1024px) {
    .elementor-7055 .elementor-element.elementor-element-1b27bf9 {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-6f138c9 {
        --flex-wrap: wrap;
    }

    .elementor-7055 .elementor-element.elementor-element-15cf04c .elementor-heading-title {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-d919260 {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-1ee4694 .elementor-headline {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-1ee4694 .elementor-headline-dynamic-text {
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-1ee4694>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7055 .elementor-element.elementor-element-3f77b1d {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-4d44293 .elementor-heading-title {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-4d44293>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7055 .elementor-element.elementor-element-979b0ef {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-de7fd3f {
        --padding-top: 020px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }

    .elementor-7055 .elementor-element.elementor-element-4e5edfb {
        --justify-content: center;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-7055 .elementor-element.elementor-element-286dc87 .elementor-heading-title {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-40eae79 {
        --justify-content: center;
    }

    .elementor-7055 .elementor-element.elementor-element-1beb97f {
        text-align: center;
    }

    .elementor-7055 .elementor-element.elementor-element-1beb97f img {
        width: 100%;
        object-fit: contain;
    }

    .elementor-7055 .elementor-element.elementor-element-1beb97f>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-7055 .elementor-element.elementor-element-bc867bc {
        --grid-columns: 2;
    }
}

@media(max-width:767px) {
    .elementor-7055 .elementor-element.elementor-element-1b27bf9 {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-15cf04c .elementor-heading-title {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-d919260 {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-1ee4694 .elementor-headline {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-1ee4694 .elementor-headline-dynamic-text {
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-3f77b1d {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-4d44293 .elementor-heading-title {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-979b0ef {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-de7fd3f {
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 20px;
        --padding-right: 20px;
    }

    .elementor-7055 .elementor-element.elementor-element-286dc87 .elementor-heading-title {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    }

    .elementor-7055 .elementor-element.elementor-element-a530c6c>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-7055 .elementor-element.elementor-element-bc867bc {
        --grid-columns: 1;
    }
}

/* Start custom CSS for text-editor, class: .elementor-element-1b27bf9 */
.elementor-7055 .elementor-element.elementor-element-1b27bf9 ul {
    list-style: none;
    margin-left: -1em;
    margin-bottom: 10px;
}

.elementor-7055 .elementor-element.elementor-element-1b27bf9 ul li::before {
    content: "\2022  ";
    color: var(--e-global-color-accent);
    font-weight: 900;
    font-size: 20px;
    margin-left: -0.9em;
    padding: 0;
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-15cf04c */
.elementor-7055 .elementor-element.elementor-element-15cf04c {
    min-height: 70px;
}

/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-d919260 */
.elementor-7055 .elementor-element.elementor-element-d919260 ul {
    list-style: none;
    margin-left: -1em;
    margin-bottom: 10px;
}

.elementor-7055 .elementor-element.elementor-element-d919260 ul li::before {
    content: "\2022  ";
    color: var(--e-global-color-accent);
    font-weight: 900;
    font-size: 20px;
    margin-left: -0.9em;
    padding: 0;
}

/* End custom CSS */
/* Start custom CSS for animated-headline, class: .elementor-element-1ee4694 */
.elementor-7055 .elementor-element.elementor-element-1ee4694 {
    min-height: 70px;
}

/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-3f77b1d */
.elementor-7055 .elementor-element.elementor-element-3f77b1d ul {
    list-style: none;
    margin-left: -1em;
    margin-bottom: 10px;
}

.elementor-7055 .elementor-element.elementor-element-3f77b1d ul li::before {
    content: "\2022  ";
    color: var(--e-global-color-accent);
    font-weight: 900;
    font-size: 20px;
    margin-left: -0.9em;
    padding: 0;
}

/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-4d44293 */
.elementor-7055 .elementor-element.elementor-element-4d44293 {
    min-height: 70px;
}

/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-979b0ef */
.elementor-7055 .elementor-element.elementor-element-979b0ef ul {
    list-style: none;
    margin-left: -1em;
    margin-bottom: 10px;
}

.elementor-7055 .elementor-element.elementor-element-979b0ef ul li::before {
    content: "\2022  ";
    color: var(--e-global-color-accent);
    font-weight: 900;
    font-size: 20px;
    margin-left: -0.9em;
    padding: 0;
}

/* End custom CSS */