.elementor-5088 .elementor-element.elementor-element-4733712 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --align-items: stretch;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-left: var(--global-padding-menu);
    --padding-right: var(--global-padding-menu);
    --z-index: 20;
}

.elementor-5088 .elementor-element.elementor-element-4733712:not(.elementor-motion-effects-element-type-background),
.elementor-5088 .elementor-element.elementor-element-4733712>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-secondary);
}

.elementor-5088 .elementor-element.elementor-element-4733712,
.elementor-5088 .elementor-element.elementor-element-4733712::before {
    --border-transition: 0.3s;
}

.elementor-5088 .elementor-element.elementor-element-06726f9.elementor-element {
    --flex-grow: 1;
    --flex-shrink: 0;
}

.elementor-5088 .elementor-element.elementor-element-7e7d79b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: var(--global-padding-menu);
    --padding-right: var(--global-padding-menu);
}

.elementor-5088 .elementor-element.elementor-element-7e7d79b:not(.elementor-motion-effects-element-type-background),
.elementor-5088 .elementor-element.elementor-element-7e7d79b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-secondary);
}

.elementor-5088 .elementor-element.elementor-element-7e7d79b,
.elementor-5088 .elementor-element.elementor-element-7e7d79b::before {
    --border-transition: 0.3s;
}

.elementor-5088 .elementor-element.elementor-element-907f671 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-left: calc(var(--global-padding-content) - var(--global-padding-menu));
    --padding-right: calc(var(--global-padding-content) - var(--global-padding-menu));
}

.elementor-5088 .elementor-element.elementor-element-7900135 {
    /* --display: flex;
    --justify-content: center;
    --gap: 30px 0px; */
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    align-items: center;
}

.elementor-5088 .elementor-element.elementor-element-9211b05 {
    font-family: var(--e-global-typography-94a6ced-font-family), Sans-serif;
    font-size: var(--e-global-typography-94a6ced-font-size);
    font-weight: var(--e-global-typography-94a6ced-font-weight);
    line-height: var(--e-global-typography-94a6ced-line-height);
    letter-spacing: var(--e-global-typography-94a6ced-letter-spacing);
    word-spacing: var(--e-global-typography-94a6ced-word-spacing);
    /* color: var(--e-global-color-text); */
}

.elementor-5088 .elementor-element.elementor-element-9211b05 a {
    color: var(--e-global-color-primary);
}

/* .elementor-5088 .elementor-element.elementor-element-9211b05>.elementor-widget-container {
    padding: 20px 20px 20px 20px;
    background-color: var(--e-global-color-7c7f961);
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: var(--e-global-color-primary);
    border-radius: 10px 10px 10px 10px;
} */

/* .elementor-5088 .elementor-element.elementor-element-9211b05.elementor-element {
    --align-self: flex-start;
} */

.elementor-5088 .elementor-element.elementor-element-c419f4b {
    --display: none;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-5088 .elementor-element.elementor-element-b5697aa img {
    border-radius: 20px 20px 20px 20px;
}

.elementor-5088 .elementor-element.elementor-element-b5697aa>.elementor-widget-container {
    padding: 00px 00px 00px 00px;
    border-radius: 10px 10px 10px 10px;
}

.elementor-5088:not(.elementor-motion-effects-element-type-background),
.elementor-5088>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #CBCBCB;
}

@media(max-width:1024px) {
    .elementor-5088 .elementor-element.elementor-element-4733712 {
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: var(--global-padding-menu);
        --padding-right: var(--global-padding-menu);
    }

    .elementor-5088 .elementor-element.elementor-element-9211b05 {
        font-size: var(--e-global-typography-94a6ced-font-size);
        line-height: var(--e-global-typography-94a6ced-line-height);
        letter-spacing: var(--e-global-typography-94a6ced-letter-spacing);
        word-spacing: var(--e-global-typography-94a6ced-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-5088 .elementor-element.elementor-element-4733712 {
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --justify-content: space-between;
    }

    .elementor-5088 .elementor-element.elementor-element-7e7d79b {
        --gap: 0px 0px;
        --padding-top: 10px;
        --padding-bottom: 50px;
        --padding-left: var(--global-padding-menu);
        --padding-right: var(--global-padding-menu);
    }

    .elementor-5088 .elementor-element.elementor-element-7900135 {
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --gap: 10px 10px;
    }

    .elementor-5088 .elementor-element.elementor-element-7fce5c0 {
        text-align: center;
    }

    .elementor-5088 .elementor-element.elementor-element-9211b05 {
        font-size: var(--e-global-typography-94a6ced-font-size);
        line-height: var(--e-global-typography-94a6ced-line-height);
        letter-spacing: var(--e-global-typography-94a6ced-letter-spacing);
        word-spacing: var(--e-global-typography-94a6ced-word-spacing);
    }

    .elementor-5088 .elementor-element.elementor-element-9211b05.elementor-element {
        --align-self: center;
    }
}

/* Start custom CSS for container, class: .elementor-element-4733712 */
.elementor-5088 .elementor-element.elementor-element-4733712.elementor-sticky--effects {
    background-color: rgba(255, 255, 255, 1) !important
}

.elementor-5088 .elementor-element.elementor-element-4733712 {
    transition: background-color 2s ease !important;
}

.elementor-5088 .elementor-element.elementor-element-4733712.elementor-sticky--effects #main-menu a {
    color: black !important;
}

.elementor-5088 .elementor-element.elementor-element-4733712.elementor-sticky--effects #main-menu .sub-arrow>svg {
    fill: black !important;
}

.elementor-5088 .elementor-element.elementor-element-4733712.elementor-sticky--effects>.elementor-container {
    min-height: 50px;
}

.elementor-5088 .elementor-element.elementor-element-4733712>.elementor-container {
    transition: min-height 1s ease !important;
}

.elementor-5088 .elementor-element.elementor-element-4733712 {
    height: 80px;
}

/* End custom CSS */
/* Start custom CSS for breadcrumbs, class: .elementor-element-9211b05 */
.elementor-5088 .elementor-element.elementor-element-9211b05 a {
    font-weight: var(--e-global-typography-1164248-font-weight);
    font-family: var(--e-global-typography-94a6ced-font-family);
    font-size: var(--e-global-typography-94a6ced-font-size);
}

/* End custom CSS */