.elementor-kit-4900 {
    --e-global-color-primary: #041e49;
    --e-global-color-secondary: #f0f4f9;
    --e-global-color-text: #292930;
    --e-global-color-accent: #FFDC60;
    --e-global-color-7c7f961: #FFFFFF;
    --e-global-color-a03e914: #3A3A42;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-968bf10-font-family: "Alata";
    --e-global-typography-968bf10-font-size: calc(1.92307692307692vw + 17.0769230769231px);
    --e-global-typography-968bf10-font-weight: 500;
    --e-global-typography-6f71f36-font-family: "Alata";
    --e-global-typography-6f71f36-font-size: calc(1.41025641025641vw + 16.9230769230769px);
    --e-global-typography-6f71f36-font-weight: 500;
    --e-global-typography-f708380-font-family: "Alata";
    --e-global-typography-f708380-font-size: calc(0.769230769230769vw + 17.2307692307692px);
    --e-global-typography-f708380-font-weight: 500;
    --e-global-typography-c62b8b6-font-family: "Alata";
    --e-global-typography-c62b8b6-font-size: calc(0.512820512820513vw + 16.1538461538462px);
    --e-global-typography-c62b8b6-font-weight: 600;
    --e-global-typography-1164248-font-family: "Alata";
    --e-global-typography-1164248-font-size: calc(0.384615384615385vw + 14.6153846153846px);
    --e-global-typography-1164248-font-weight: 600;
    --e-global-typography-94a6ced-font-family: "Alata";
    --e-global-typography-94a6ced-font-size: calc(0.128205128205128vw + 15.5384615384615px);
    --e-global-typography-94a6ced-font-weight: 600;
    --e-global-typography-1f5d8b0-font-family: "Nunito Sans";
    --e-global-typography-1f5d8b0-font-size: calc(0.128205128205128vw + 17.5384615384615px);
    --e-global-typography-1f5d8b0-line-height: 1.3;
    --e-global-typography-1f5d8b0-letter-spacing: 0.6px;
    --e-global-typography-b7381b7-font-family: "Nunito Sans";
    --e-global-typography-b7381b7-font-size: calc(0.128205128205128vw + 17.5384615384615px);
    --e-global-typography-b7381b7-font-weight: 500;
    --e-global-typography-b7381b7-text-decoration: none;
    --e-global-typography-7e9e998-font-family: "Nunito Sans";
    --e-global-typography-7e9e998-font-size: calc(0.128205128205128vw + 13.5384615384615px);
    --e-global-typography-4662335-font-family: "Nunito Sans";
    --e-global-typography-4662335-font-size: calc(0.128205128205128vw + 15.5384615384615px);
    --e-global-typography-bc6e826-font-family: "Alata";
    --e-global-typography-bc6e826-font-size: calc(0.128205128205128vw + 15.5384615384615px);
    font-family: var(--e-global-typography-1f5d8b0-font-family), Sans-serif;
    font-size: var(--e-global-typography-1f5d8b0-font-size);
    line-height: var(--e-global-typography-1f5d8b0-line-height);
    letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
    word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
}

.elementor-kit-4900 a {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-b7381b7-font-family), Sans-serif;
    font-size: var(--e-global-typography-b7381b7-font-size);
    font-weight: var(--e-global-typography-b7381b7-font-weight);
    text-decoration: var(--e-global-typography-b7381b7-text-decoration);
    line-height: var(--e-global-typography-b7381b7-line-height);
    letter-spacing: var(--e-global-typography-b7381b7-letter-spacing);
    word-spacing: var(--e-global-typography-b7381b7-word-spacing);
}

.elementor-kit-4900 a:hover {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-b7381b7-font-family), Sans-serif;
    font-size: var(--e-global-typography-b7381b7-font-size);
    font-weight: var(--e-global-typography-b7381b7-font-weight);
    text-decoration: var(--e-global-typography-b7381b7-text-decoration);
    line-height: var(--e-global-typography-b7381b7-line-height);
    letter-spacing: var(--e-global-typography-b7381b7-letter-spacing);
    word-spacing: var(--e-global-typography-b7381b7-word-spacing);
}

.elementor-kit-4900 h1 {
    font-family: var(--e-global-typography-968bf10-font-family), Sans-serif;
    font-size: var(--e-global-typography-968bf10-font-size);
    font-weight: var(--e-global-typography-968bf10-font-weight);
    line-height: var(--e-global-typography-968bf10-line-height);
    letter-spacing: var(--e-global-typography-968bf10-letter-spacing);
    word-spacing: var(--e-global-typography-968bf10-word-spacing);
}

.elementor-kit-4900 h2 {
    font-family: var(--e-global-typography-6f71f36-font-family), Sans-serif;
    font-size: var(--e-global-typography-6f71f36-font-size);
    font-weight: var(--e-global-typography-6f71f36-font-weight);
    line-height: var(--e-global-typography-6f71f36-line-height);
    letter-spacing: var(--e-global-typography-6f71f36-letter-spacing);
    word-spacing: var(--e-global-typography-6f71f36-word-spacing);
}

.elementor-kit-4900 h3 {
    font-family: var(--e-global-typography-f708380-font-family), Sans-serif;
    font-size: var(--e-global-typography-f708380-font-size);
    font-weight: var(--e-global-typography-f708380-font-weight);
    line-height: var(--e-global-typography-f708380-line-height);
    letter-spacing: var(--e-global-typography-f708380-letter-spacing);
    word-spacing: var(--e-global-typography-f708380-word-spacing);
}

.elementor-kit-4900 h4 {
    font-family: var(--e-global-typography-c62b8b6-font-family), Sans-serif;
    font-size: var(--e-global-typography-c62b8b6-font-size);
    font-weight: var(--e-global-typography-c62b8b6-font-weight);
    line-height: var(--e-global-typography-c62b8b6-line-height);
    letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
    word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
}

.elementor-kit-4900 h5 {
    font-family: var(--e-global-typography-1164248-font-family), Sans-serif;
    font-size: var(--e-global-typography-1164248-font-size);
    font-weight: var(--e-global-typography-1164248-font-weight);
    line-height: var(--e-global-typography-1164248-line-height);
    letter-spacing: var(--e-global-typography-1164248-letter-spacing);
    word-spacing: var(--e-global-typography-1164248-word-spacing);
}

.elementor-kit-4900 h6 {
    font-family: var(--e-global-typography-94a6ced-font-family), Sans-serif;
    font-size: var(--e-global-typography-94a6ced-font-size);
    font-weight: var(--e-global-typography-94a6ced-font-weight);
    line-height: var(--e-global-typography-94a6ced-line-height);
    letter-spacing: var(--e-global-typography-94a6ced-letter-spacing);
    word-spacing: var(--e-global-typography-94a6ced-word-spacing);
}

.elementor-kit-4900 button,
.elementor-kit-4900 input[type="button"],
.elementor-kit-4900 input[type="submit"],
.elementor-kit-4900 .elementor-button {
    font-family: var(--e-global-typography-b7381b7-font-family), Sans-serif;
    font-size: var(--e-global-typography-b7381b7-font-size);
    font-weight: var(--e-global-typography-b7381b7-font-weight);
    text-decoration: var(--e-global-typography-b7381b7-text-decoration);
    line-height: var(--e-global-typography-b7381b7-line-height);
    letter-spacing: var(--e-global-typography-b7381b7-letter-spacing);
    word-spacing: var(--e-global-typography-b7381b7-word-spacing);
    color: #FFFFFF;
    background-color: var(--e-global-color-primary);
    border-radius: 10px 10px 10px 10px;
    padding: 10px 25px 10px 25px;
}

.elementor-kit-4900 button:hover,
.elementor-kit-4900 button:focus,
.elementor-kit-4900 input[type="button"]:hover,
.elementor-kit-4900 input[type="button"]:focus,
.elementor-kit-4900 input[type="submit"]:hover,
.elementor-kit-4900 input[type="submit"]:focus,
.elementor-kit-4900 .elementor-button:hover,
.elementor-kit-4900 .elementor-button:focus {
    color: var(--e-global-color-text);
    background-color: var(--e-global-color-accent);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.e-con {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
}


h1.entry-title {
    display: var(--page-title-display);
}

.elementor-kit-4900 e-page-transition {
    background-color: #FFBC7D;
}

.site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}

@media(max-width:1024px) {
    .elementor-kit-4900 {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    }

    .elementor-kit-4900 a {
        font-size: var(--e-global-typography-b7381b7-font-size);
        line-height: var(--e-global-typography-b7381b7-line-height);
        letter-spacing: var(--e-global-typography-b7381b7-letter-spacing);
        word-spacing: var(--e-global-typography-b7381b7-word-spacing);
    }

    .elementor-kit-4900 a:hover {
        font-size: var(--e-global-typography-b7381b7-font-size);
        line-height: var(--e-global-typography-b7381b7-line-height);
        letter-spacing: var(--e-global-typography-b7381b7-letter-spacing);
        word-spacing: var(--e-global-typography-b7381b7-word-spacing);
    }

    .elementor-kit-4900 h1 {
        font-size: var(--e-global-typography-968bf10-font-size);
        line-height: var(--e-global-typography-968bf10-line-height);
        letter-spacing: var(--e-global-typography-968bf10-letter-spacing);
        word-spacing: var(--e-global-typography-968bf10-word-spacing);
    }

    .elementor-kit-4900 h2 {
        font-size: var(--e-global-typography-6f71f36-font-size);
        line-height: var(--e-global-typography-6f71f36-line-height);
        letter-spacing: var(--e-global-typography-6f71f36-letter-spacing);
        word-spacing: var(--e-global-typography-6f71f36-word-spacing);
    }

    .elementor-kit-4900 h3 {
        font-size: var(--e-global-typography-f708380-font-size);
        line-height: var(--e-global-typography-f708380-line-height);
        letter-spacing: var(--e-global-typography-f708380-letter-spacing);
        word-spacing: var(--e-global-typography-f708380-word-spacing);
    }

    .elementor-kit-4900 h4 {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-kit-4900 h5 {
        font-size: var(--e-global-typography-1164248-font-size);
        line-height: var(--e-global-typography-1164248-line-height);
        letter-spacing: var(--e-global-typography-1164248-letter-spacing);
        word-spacing: var(--e-global-typography-1164248-word-spacing);
    }

    .elementor-kit-4900 h6 {
        font-size: var(--e-global-typography-94a6ced-font-size);
        line-height: var(--e-global-typography-94a6ced-line-height);
        letter-spacing: var(--e-global-typography-94a6ced-letter-spacing);
        word-spacing: var(--e-global-typography-94a6ced-word-spacing);
    }

    .elementor-kit-4900 button,
    .elementor-kit-4900 input[type="button"],
    .elementor-kit-4900 input[type="submit"],
    .elementor-kit-4900 .elementor-button {
        font-size: var(--e-global-typography-b7381b7-font-size);
        line-height: var(--e-global-typography-b7381b7-line-height);
        letter-spacing: var(--e-global-typography-b7381b7-letter-spacing);
        word-spacing: var(--e-global-typography-b7381b7-word-spacing);
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-4900 {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    }

    .elementor-kit-4900 a {
        font-size: var(--e-global-typography-b7381b7-font-size);
        line-height: var(--e-global-typography-b7381b7-line-height);
        letter-spacing: var(--e-global-typography-b7381b7-letter-spacing);
        word-spacing: var(--e-global-typography-b7381b7-word-spacing);
    }

    .elementor-kit-4900 a:hover {
        font-size: var(--e-global-typography-b7381b7-font-size);
        line-height: var(--e-global-typography-b7381b7-line-height);
        letter-spacing: var(--e-global-typography-b7381b7-letter-spacing);
        word-spacing: var(--e-global-typography-b7381b7-word-spacing);
    }

    .elementor-kit-4900 h1 {
        font-size: var(--e-global-typography-968bf10-font-size);
        line-height: var(--e-global-typography-968bf10-line-height);
        letter-spacing: var(--e-global-typography-968bf10-letter-spacing);
        word-spacing: var(--e-global-typography-968bf10-word-spacing);
    }

    .elementor-kit-4900 h2 {
        font-size: var(--e-global-typography-6f71f36-font-size);
        line-height: var(--e-global-typography-6f71f36-line-height);
        letter-spacing: var(--e-global-typography-6f71f36-letter-spacing);
        word-spacing: var(--e-global-typography-6f71f36-word-spacing);
    }

    .elementor-kit-4900 h3 {
        font-size: var(--e-global-typography-f708380-font-size);
        line-height: var(--e-global-typography-f708380-line-height);
        letter-spacing: var(--e-global-typography-f708380-letter-spacing);
        word-spacing: var(--e-global-typography-f708380-word-spacing);
    }

    .elementor-kit-4900 h4 {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-kit-4900 h5 {
        font-size: var(--e-global-typography-1164248-font-size);
        line-height: var(--e-global-typography-1164248-line-height);
        letter-spacing: var(--e-global-typography-1164248-letter-spacing);
        word-spacing: var(--e-global-typography-1164248-word-spacing);
    }

    .elementor-kit-4900 h6 {
        font-size: var(--e-global-typography-94a6ced-font-size);
        line-height: var(--e-global-typography-94a6ced-line-height);
        letter-spacing: var(--e-global-typography-94a6ced-letter-spacing);
        word-spacing: var(--e-global-typography-94a6ced-word-spacing);
    }

    .elementor-kit-4900 button,
    .elementor-kit-4900 input[type="button"],
    .elementor-kit-4900 input[type="submit"],
    .elementor-kit-4900 .elementor-button {
        font-size: var(--e-global-typography-b7381b7-font-size);
        line-height: var(--e-global-typography-b7381b7-line-height);
        letter-spacing: var(--e-global-typography-b7381b7-letter-spacing);
        word-spacing: var(--e-global-typography-b7381b7-word-spacing);
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}