.elementor-7043 .elementor-element.elementor-element-ec3a53c {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 50px 50px;
    --background-transition: 0.3s;
    --padding-top: 100px;
    --padding-bottom: 100px;
    --padding-left: var(--global-padding-content);
    --padding-right: var(--global-padding-content);
}

.elementor-7043 .elementor-element.elementor-element-4a8fe01 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 100px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7043 .elementor-element.elementor-element-5f78198 {
    --display: flex;
    --justify-content: space-between;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-7043 .elementor-element.elementor-element-5d91532 {
    --icon-box-icon-margin: 10px;
}

.elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon-box-title {
    margin-bottom: 5px;
}

.elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon {
    font-size: 40px;
}

.elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon-box-title,
.elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon-box-title a {
    font-family: var(--e-global-typography-c62b8b6-font-family), Sans-serif;
    font-size: var(--e-global-typography-c62b8b6-font-size);
    font-weight: var(--e-global-typography-c62b8b6-font-weight);
    line-height: var(--e-global-typography-c62b8b6-line-height);
    letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
    word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
}

.elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon-box-description {
    font-family: var(--e-global-typography-4662335-font-family), Sans-serif;
    font-size: var(--e-global-typography-4662335-font-size);
    line-height: var(--e-global-typography-4662335-line-height);
    letter-spacing: var(--e-global-typography-4662335-letter-spacing);
    word-spacing: var(--e-global-typography-4662335-word-spacing);
}

.elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-7043 .elementor-element.elementor-element-ac6266c {
    --icon-box-icon-margin: 10px;
}

.elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon-box-title {
    margin-bottom: 5px;
}

.elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon {
    font-size: 40px;
}

.elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon-box-title,
.elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon-box-title a {
    font-family: var(--e-global-typography-c62b8b6-font-family), Sans-serif;
    font-size: var(--e-global-typography-c62b8b6-font-size);
    font-weight: var(--e-global-typography-c62b8b6-font-weight);
    line-height: var(--e-global-typography-c62b8b6-line-height);
    letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
    word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
}

.elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon-box-description {
    font-family: var(--e-global-typography-4662335-font-family), Sans-serif;
    font-size: var(--e-global-typography-4662335-font-size);
    line-height: var(--e-global-typography-4662335-line-height);
    letter-spacing: var(--e-global-typography-4662335-letter-spacing);
    word-spacing: var(--e-global-typography-4662335-word-spacing);
}

.elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-7043 .elementor-element.elementor-element-6008ce1 {
    --icon-box-icon-margin: 10px;
}

.elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon-box-title {
    margin-bottom: 5px;
}

.elementor-7043 .elementor-element.elementor-element-6008ce1.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-text);
}

.elementor-7043 .elementor-element.elementor-element-6008ce1.elementor-view-framed .elementor-icon,
.elementor-7043 .elementor-element.elementor-element-6008ce1.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-text);
    color: var(--e-global-color-text);
    border-color: var(--e-global-color-text);
}

.elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon {
    font-size: 40px;
}

.elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon-box-title,
.elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon-box-title a {
    font-family: var(--e-global-typography-c62b8b6-font-family), Sans-serif;
    font-size: var(--e-global-typography-c62b8b6-font-size);
    font-weight: var(--e-global-typography-c62b8b6-font-weight);
    line-height: var(--e-global-typography-c62b8b6-line-height);
    letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
    word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
}

.elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon-box-description {
    font-family: var(--e-global-typography-4662335-font-family), Sans-serif;
    font-size: var(--e-global-typography-4662335-font-size);
    line-height: var(--e-global-typography-4662335-line-height);
    letter-spacing: var(--e-global-typography-4662335-letter-spacing);
    word-spacing: var(--e-global-typography-4662335-word-spacing);
}

.elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-7043 .elementor-element.elementor-element-ca1f3ee {
    --icon-box-icon-margin: 10px;
}

.elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon-box-title {
    margin-bottom: 5px;
}

.elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon {
    font-size: 40px;
}

.elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon i {
    transform: rotate(0deg);
}

.elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon-box-title,
.elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon-box-title a {
    font-family: var(--e-global-typography-c62b8b6-font-family), Sans-serif;
    font-size: var(--e-global-typography-c62b8b6-font-size);
    font-weight: var(--e-global-typography-c62b8b6-font-weight);
    line-height: var(--e-global-typography-c62b8b6-line-height);
    letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
    word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
}

.elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon-box-description {
    font-family: var(--e-global-typography-1f5d8b0-font-family), Sans-serif;
    font-size: var(--e-global-typography-1f5d8b0-font-size);
    line-height: var(--e-global-typography-1f5d8b0-line-height);
    letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
    word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
}

.elementor-7043 .elementor-element.elementor-element-28d0a5d {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-7043 .elementor-element.elementor-element-db82800 .eael-contact-form-7 .wpcf7-not-valid-tip {
    display: block !important;
}

.elementor-7043 .elementor-element.elementor-element-db82800 .eael-contact-form-7 .wpcf7-validation-errors {
    display: block !important;
}

.elementor-7043 .elementor-element.elementor-element-db82800 .eael-contact-form-7-wrapper {
    text-align: default;
}

.elementor-7043 .elementor-element.elementor-element-db82800 .eael-contact-form-7 .wpcf7-form p:not(:last-of-type) .wpcf7-form-control-wrap {
    margin-bottom: 0px;
}

.elementor-7043 .elementor-element.elementor-element-db82800 .eael-contact-form-7 .wpcf7-form input[type="submit"] {
    border-style: none;
}

@media(min-width:768px) {
    .elementor-7043 .elementor-element.elementor-element-5f78198 {
        --width: 40%;
    }

    .elementor-7043 .elementor-element.elementor-element-28d0a5d {
        --width: 60%;
    }
}

@media(max-width:1024px) {
    .elementor-7043 .elementor-element.elementor-element-4a8fe01 {
        --gap: 0px 50px;
    }

    .elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon-box-title,
    .elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon-box-description {
        font-size: var(--e-global-typography-4662335-font-size);
        line-height: var(--e-global-typography-4662335-line-height);
        letter-spacing: var(--e-global-typography-4662335-letter-spacing);
        word-spacing: var(--e-global-typography-4662335-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon-box-title,
    .elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon-box-title a {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon-box-description {
        font-size: var(--e-global-typography-4662335-font-size);
        line-height: var(--e-global-typography-4662335-line-height);
        letter-spacing: var(--e-global-typography-4662335-letter-spacing);
        word-spacing: var(--e-global-typography-4662335-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon-box-title,
    .elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon-box-description {
        font-size: var(--e-global-typography-4662335-font-size);
        line-height: var(--e-global-typography-4662335-line-height);
        letter-spacing: var(--e-global-typography-4662335-letter-spacing);
        word-spacing: var(--e-global-typography-4662335-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon-box-title,
    .elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon-box-title a {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon-box-description {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-7043 .elementor-element.elementor-element-ec3a53c {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: var(--global-padding-content);
        --padding-right: var(--global-padding-content);
    }

    .elementor-7043 .elementor-element.elementor-element-4a8fe01 {
        --gap: 50px 0px;
    }

    .elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon {
        font-size: 30px;
    }

    .elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon-box-title,
    .elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon-box-description {
        font-size: var(--e-global-typography-4662335-font-size);
        line-height: var(--e-global-typography-4662335-line-height);
        letter-spacing: var(--e-global-typography-4662335-letter-spacing);
        word-spacing: var(--e-global-typography-4662335-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon {
        font-size: 30px;
    }

    .elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon-box-title,
    .elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon-box-title a {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon-box-description {
        font-size: var(--e-global-typography-4662335-font-size);
        line-height: var(--e-global-typography-4662335-line-height);
        letter-spacing: var(--e-global-typography-4662335-letter-spacing);
        word-spacing: var(--e-global-typography-4662335-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon {
        font-size: 30px;
    }

    .elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon-box-title,
    .elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon-box-title a {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon-box-description {
        font-size: var(--e-global-typography-4662335-font-size);
        line-height: var(--e-global-typography-4662335-line-height);
        letter-spacing: var(--e-global-typography-4662335-letter-spacing);
        word-spacing: var(--e-global-typography-4662335-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon {
        font-size: 30px;
    }

    .elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon-box-title,
    .elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon-box-title a {
        font-size: var(--e-global-typography-c62b8b6-font-size);
        line-height: var(--e-global-typography-c62b8b6-line-height);
        letter-spacing: var(--e-global-typography-c62b8b6-letter-spacing);
        word-spacing: var(--e-global-typography-c62b8b6-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon-box-description {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    }

    .elementor-7043 .elementor-element.elementor-element-28d0a5d.e-con {
        --order: -99999
            /* order start hack */
        ;
    }
}

/* Start custom CSS for icon-box, class: .elementor-element-5d91532 */
.elementor-7043 .elementor-element.elementor-element-5d91532 .elementor-icon-box-icon {
    margin-top: 10px;
}

/* End custom CSS */
/* Start custom CSS for icon-box, class: .elementor-element-ac6266c */
.elementor-7043 .elementor-element.elementor-element-ac6266c .elementor-icon-box-icon {
    margin-top: 10px;
}

/* End custom CSS */
/* Start custom CSS for icon-box, class: .elementor-element-6008ce1 */
.elementor-7043 .elementor-element.elementor-element-6008ce1 .elementor-icon-box-icon {
    margin-top: 10px;
}

/* End custom CSS */
/* Start custom CSS for icon-box, class: .elementor-element-ca1f3ee */
.elementor-7043 .elementor-element.elementor-element-ca1f3ee .elementor-icon-box-icon {
    margin-top: 10px;
}

/* End custom CSS */
/* Start custom CSS for eael-contact-form-7, class: .elementor-element-db82800 */
.elementor-7043 .elementor-element.elementor-element-db82800 input:not(.wpcf7-submit),
.elementor-7043 .elementor-element.elementor-element-db82800 textarea,
.elementor-7043 .elementor-element.elementor-element-db82800 label .elementor-7043 .elementor-element.elementor-element-db82800 p.additonal-info {
    width: 100%;
    font-family: var(--e-global-typography-1f5d8b0-font-family), Sans-serif;
    font-size: var(--e-global-typography-1f5d8b0-font-size);
    margin-top: 5px;
    border-radius: 5px;
}

.elementor-7043 .elementor-element.elementor-element-db82800 .required {
    color: red;
}

.elementor-7043 .elementor-element.elementor-element-db82800 input,
.elementor-7043 .elementor-element.elementor-element-db82800 textarea {
    border: black solid 1px;
}


.elementor-7043 .elementor-element.elementor-element-db82800 .wpcf7-not-valid-tip {
    font-family: var(--e-global-typography-7e9e998-font-family);
    font-size: var(--e-global-typography-7e9e998-font-size);
    margin-top: 10px;
}

.elementor-7043 .elementor-element.elementor-element-db82800 .wpcf7-submit {
    border-radius: 10px;
    padding: 15px 35px;
}

.elementor-7043 .elementor-element.elementor-element-db82800 form .wpcf7-response-output {
    margin: 0 0;
    border-radius: 5px;
}

.elementor-7043 .elementor-element.elementor-element-db82800 p.additonal-info {
    text-align: center;
    font-size: var(--e-global-typography-7e9e998-font-size);
    width: 100%;
    margin-top: -20px !important;
    margin-bottom: 20px !important;
    padding-left: 10%;
    padding-right: 10%;
}

.elementor-7043 .elementor-element.elementor-element-db82800 .button-wrapper {
    display: flex;
    justify-content: center;
}

.elementor-7043 .elementor-element.elementor-element-db82800 .button-wrapper>p {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

/* End custom CSS */