.elementor-9016 .elementor-element.elementor-element-a803919 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 40px 40px;
    --background-transition: 0.3s;
    --padding-top: 100px;
    --padding-bottom: 100px;
    --padding-left: var(--global-padding-content);
    --padding-right: var(--global-padding-content);
}

.elementor-9016 .elementor-element.elementor-element-85341dd {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon {
    font-size: 16px;
    margin-left: 10px;
    color: var(--e-global-color-text);
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header svg.fa-accordion-icon {
    height: 16px;
    width: 16px;
    line-height: 16px;
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list {
    margin-bottom: 30px;
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header {
    padding: 25px 25px 25px 25px;
    background-color: var(--e-global-color-7c7f961);
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-secondary);
    border-radius: 10px 10px 10px 10px;
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .eael-accordion-tab-title {
    color: var(--e-global-color-text);
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon-svg svg {
    color: var(--e-global-color-text);
    fill: var(--e-global-color-text);
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header svg {
    fill: var(--e-global-color-text);
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .eael-accordion-tab-title {
    color: var(--e-global-color-primary);
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .fa-accordion-icon {
    color: var(--e-global-color-primary);
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .fa-accordion-icon svg {
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover svg.fa-accordion-icon {
    fill: var(--e-global-color-primary);
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active {
    color: var(--e-global-color-primary);
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-color: var(--e-global-color-secondary);
    border-radius: 20px 20px 0px 0px;
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .eael-accordion-tab-title {
    color: var(--e-global-color-primary);
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-accordion-icon {
    color: var(--e-global-color-primary);
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-accordion-icon svg {
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active svg.fa-accordion-icon {
    fill: var(--e-global-color-primary);
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-content {
    color: #333;
    font-family: var(--e-global-typography-1f5d8b0-font-family), Sans-serif;
    font-size: var(--e-global-typography-1f5d8b0-font-size);
    line-height: var(--e-global-typography-1f5d8b0-line-height);
    letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
    word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
    padding: 0px 40px 40px 40px;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: var(--e-global-color-secondary);
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle,
.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header>.fa-toggle-svg {
    font-size: 25px;
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header svg.fa-toggle {
    height: 25px;
    width: 25px;
    line-height: 25px;
    fill: #444;
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle {
    color: #444;
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-toggle svg {
    color: #444;
    fill: #444;
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-toggle {
    color: #fff;
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-toggle svg {
    color: #fff;
    fill: #fff;
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active svg.fa-toggle {
    fill: #fff;
}

.elementor-9016 .elementor-element.elementor-element-18d4941>.elementor-widget-container {
    margin: var(--big-space) 0 0 0;
}

.elementor-9016 .elementor-element.elementor-element-79cd73f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 40px 40px;
    --background-transition: 0.3s;
    --padding-top: var(--huge-space);
    --padding-bottom: var(--huge-space);
    --padding-left: var(--global-padding-content);
    --padding-right: var(--global-padding-content);
}

.elementor-9016 .elementor-element.elementor-element-79cd73f:not(.elementor-motion-effects-element-type-background),
.elementor-9016 .elementor-element.elementor-element-79cd73f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-text);
    display: none;
}

.elementor-9016 .elementor-element.elementor-element-79cd73f,
.elementor-9016 .elementor-element.elementor-element-79cd73f::before {
    --border-transition: 0.3s;
}

.elementor-9016 .elementor-element.elementor-element-971aed2 .elementor-repeater-item-8ee254d .swiper-slide-bg {
    background-color: var(--e-global-color-a03e914);
}

.elementor-9016 .elementor-element.elementor-element-971aed2 .elementor-repeater-item-8ee254d .swiper-slide-inner .elementor-slide-heading {
    color: var(--e-global-color-text);
}

.elementor-9016 .elementor-element.elementor-element-971aed2 .elementor-repeater-item-8ee254d .swiper-slide-inner .elementor-slide-description {
    color: var(--e-global-color-text);
}

.elementor-9016 .elementor-element.elementor-element-971aed2 .elementor-repeater-item-8ee254d .swiper-slide-inner .elementor-slide-button {
    color: var(--e-global-color-text);
    border-color: var(--e-global-color-text);
}

.elementor-9016 .elementor-element.elementor-element-971aed2 .elementor-repeater-item-0513bea .swiper-slide-bg {
    background-color: var(--e-global-color-a03e914);
}

.elementor-9016 .elementor-element.elementor-element-971aed2 .swiper-slide {
    height: 400px;
    transition-duration: calc(5000ms*1.2);
}

.elementor-9016 .elementor-element.elementor-element-971aed2 .swiper-slide-contents {
    max-width: 70%;
}

.elementor-9016 .elementor-element.elementor-element-971aed2 .swiper-slide-inner {
    text-align: center;
}

.elementor-9016 .elementor-element.elementor-element-971aed2>.elementor-widget-container {
    margin: 0 0 0 0;
}

.elementor-9016 .elementor-element.elementor-element-c9e9f15 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-top: var(--huge-space);
    --padding-bottom: var(--huge-space);
    --padding-left: var(--global-padding-content);
    --padding-right: var(--global-padding-content);
}

.elementor-9016 .elementor-element.elementor-element-95fe9ad {
    text-align: center;
}

.elementor-9016 .elementor-element.elementor-element-3591dcd {
    --grid-columns: 3;
}

.elementor-9016 .elementor-element.elementor-element-3591dcd .elementor-loop-container {
    grid-auto-rows: 1fr;
}

.elementor-9016 .elementor-element.elementor-element-3591dcd .e-loop-item>.elementor-section,
.elementor-9016 .elementor-element.elementor-element-3591dcd .e-loop-item>.elementor-section>.elementor-container,
.elementor-9016 .elementor-element.elementor-element-3591dcd .e-loop-item>.e-con,
.elementor-9016 .elementor-element.elementor-element-3591dcd .e-loop-item .elementor-section-wrap>.e-con {
    height: 100%;
}

.elementor-9016 .elementor-element.elementor-element-3591dcd>.elementor-widget-container {
    margin: var(--big-space) 0 0 0;
}

.elementor-9016 .elementor-element.elementor-element-a5f8740 a.button-wrapper {
    background-color: var(--e-global-color-primary);
    color: var(--e-global-color-7c7f961);
}

.elementor-9016 .elementor-element.elementor-element-a5f8740 a.button-wrapper::after,
.elementor-9016 .elementor-element.elementor-element-a5f8740 a.button-wrapper::before {
    background: var(--e-global-color-accent);
}

.elementor-9016 .elementor-element.elementor-element-a5f8740 a.button-wrapper:hover {
    color: var(--e-global-color-text);
}

.elementor-9016 .elementor-element.elementor-element-a5f8740>.elementor-widget-container {
    margin: var(--medium-space) 0 0 0;
}

.elementor-9016 .elementor-element.elementor-element-a5f8740.elementor-element {
    --align-self: center;
}

.elementor-9016 .elementor-element.elementor-element-47b5084 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-top: 100px;
    --padding-bottom: 100px;
    --padding-left: var(--global-padding-content);
    --padding-right: var(--global-padding-content);
}

@media(max-width:1024px) {
    .elementor-9016 .elementor-element.elementor-element-a803919 {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: var(--global-padding-content);
        --padding-right: var(--global-padding-content);
    }

    .elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-content {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
        padding: 0px 20px 20px 20px;
    }

    .elementor-9016 .elementor-element.elementor-element-971aed2>.elementor-widget-container {
        margin: 48px 0px 0px 0px;
    }

    .elementor-9016 .elementor-element.elementor-element-3591dcd {
        --grid-columns: 2;
    }
}

@media(max-width:767px) {
    .elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-header {
        padding: 10px 10px 10px 0px;
    }

    .elementor-9016 .elementor-element.elementor-element-18d4941 .eael-adv-accordion .eael-accordion-list .eael-accordion-content {
        font-size: var(--e-global-typography-1f5d8b0-font-size);
        line-height: var(--e-global-typography-1f5d8b0-line-height);
        letter-spacing: var(--e-global-typography-1f5d8b0-letter-spacing);
        word-spacing: var(--e-global-typography-1f5d8b0-word-spacing);
        padding: 10px 10px 10px 10px;
    }

    .elementor-9016 .elementor-element.elementor-element-79cd73f {
        --gap: 50px 50px;
        --padding-top: var(--huge-space);
        --padding-bottom: var(--huge-space);
        --padding-left: var(--global-padding-content);
        --padding-right: var(--global-padding-content);
    }

    .elementor-9016 .elementor-element.elementor-element-971aed2 .swiper-slide-contents {
        max-width: 80%;
    }

    .elementor-9016 .elementor-element.elementor-element-971aed2 .swiper-slide-inner {
        padding: 15px 15px 15px 15px;
    }

    .elementor-9016 .elementor-element.elementor-element-3591dcd {
        --grid-columns: 1;
    }

    .elementor-9016 .elementor-element.elementor-element-47b5084 {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: var(--global-padding-content);
        --padding-right: var(--global-padding-content);
    }
}

/* Start custom CSS for eael-adv-accordion, class: .elementor-element-18d4941 */
#custom-website-service,
#landing-page-service,
#business-website-service {
    outline: none;
}

.elementor-9016 .elementor-element.elementor-element-18d4941 .eael-accordion-content {
    border-radius: 0 0 20px 20px;
}

/* End custom CSS */
/* Start custom CSS for slides, class: .elementor-element-971aed2 */
.elementor-9016 .elementor-element.elementor-element-971aed2 .elementor-slides-wrapper {
    border-radius: 20px;
}

/* End custom CSS */